<a href="https://colab.research.google.com/github/Nautyy9/getting_started_with_pandas/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Read a file

In [ ]:
# iloc -> integer location

# CSV
poke_list = pd.read_csv('pokemon_data.csv')

# XLSX
# poke_list_xl = pd.read_excel('pokemon_data.xlsx')

# TEXT FILE
# poke_list_txt = pd.read_csv('pokemon_data.txt', delimiter='\t') # the text file are tab spereted thef we need \t as delimeter , for any other formatting for gap between cols are passed in as delimeter

# print(poke_list)

# read top rows or bottom rows

# print(poke_list.head(3))
# print(poke_list.tail(3))

# READING

In [ ]:
# HEADERS
print(poke_list.columns)

# READ EACH COLUMN
print(poke_list['Name'])
print(poke_list['Name'])
print(poke_list.Name)
print(poke_list['Name'][0:5])

# MULTIPLE COLUMNS
print(poke_list[['Name', 'HP', 'Type 1']])

# READ EACH ROW
print(poke_list.head())
print(poke_list.iloc[0:4])

# ITERATION OVER ROWS
for index, rows in poke_list.iterrows():
  print(index, rows['Name'])


# FILTERING

# list.loc[list[value] ->condition,  "Value"]
# above specifies that the first parameter is independent of the list.loc bcz it is a condition hence in list we find the location of the element(specified as second arguement) when the condition is met
# outcome -> condn? -> poke_list.loc["Fire"]
poke_list.loc[poke_list["Type 1"] == "Fire"]

# READ A SPECIFIC VALUE
print(poke_list.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

SORTING/DESCRIBING DATA

In [ ]:
# describe gives all the high level data like mean and std deviation type stats

# poke_list.describe()

# poke_list.sort_values(['Name'] , ascending=False)

#by default both will be sort in ascending order
poke_list.sort_values(["Type 1" ,"HP"], ascending=[1,0]) #HP is in descending order and Type1 is in ascending order

# axis=0 -> vertically , axis=0 -< horizontally

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# MAKING CHANGES TO DATA

In [ ]:
# BASIC WAY

poke_list['Total'] = poke_list['HP'] + poke_list['Attack'] + poke_list['Defense'] + poke_list['Sp. Atk'] + poke_list['Sp. Def'] + poke_list['Speed']
print(poke_list)

# DROP A COLUMN

# n.drop() return the data which is need to be stored in the original data
poke_list = poke_list.drop(columns=['Total'])
print(poke_list)

# ANOTHER WAY
poke_list['Total'] = poke_list.iloc[: ,4:10].sum(axis=1)
print(poke_list)

# RE-ORDERING
yo = poke_list.columns.values
cols = list(poke_list.columns)
print(cols[0:4]) #gives from '#' to 'Type 2' return as list bcz of range
print(cols[-1]) #gives total as its last element , but its single so 'Total'
print(cols[4:12])

poke_list = poke_list[cols[0:4] + [cols[-1]] + cols[4:12]]
print(poke_list)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]
       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]
['#', 'Name', 'Type 1', 'Type 2']
Total
['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

# FILTERING

In [ ]:
filtered_list = poke_list.loc[(poke_list["Type 1"] == "Grass") & (poke_list["Type 2"] == "Poison") & (poke_list["HP"] > 70)]

# we see above, filtered_list return indices that are filtered , to create new indices for filtered list we use reset_index , but the original indices aren't deleted to delete them we specify drop=True
filtered_list = filtered_list.reset_index(drop=True)
print(filtered_list)

       #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
2      3               Venusaur  Grass  Poison    525   80      82       83
3      3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
50    45              Vileplume  Grass  Poison    490   75      80       85
77    71             Victreebel  Grass  Poison    490   80     105       65
652  591              Amoonguss  Grass  Poison    464  114      85       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
2        100      100     80           1      False
3        122      120     80           1      False
50       110       90     50           1      False
77       100       70     70           1      False
652       85       80     30           5      False

# UPDATING VALUES

In [ ]:
# print(poke_list)

# Updating 2 values at a time
# poke_list.loc[poke_list['Total'] > 500,  ['Generation', 'Legendary']] = ["Awesome" , "Salute"]

# Update the whole row with one value
# poke_list.loc[poke_list['Type 1'] == "Fire"] = "Flame"

# Update one value
# poke_list.loc[poke_list['Type 1'] == "Flame" , "Type 2"] ="Aag Laga Di Aag"
# print(poke_list)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

# Saving/Exporting data in desired Format

In [ ]:
poke_list.to_csv('modified.csv')

# Save without index columns
poke_list.to_csv('modified.csv', index=False)

# Save in xl
poke_list.to_excel('modified.xlsx', index=False)

# just like when opening a txt file we use delimeter='\t' which specifies the space parameter , here sep specifies the seperator in which we want to seperate the columns while saving them
poke_list.to_csv('modified.txt',  index=False, sep='\t')

# Regular Expressions

In [ ]:
# import re

# pi[a-z] -> give any name that contains pi
# poke_list.loc[poke_list["Name"].str.contains('pi[a-z]*', flags=re.I, regex=True)]

# ^pi[a-z] -> give only the names that start with pi
# poke_list.loc[poke_list["Name"].str.contains('^pi[A-Za-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

# Mean/Count

In [ ]:
# MEAN

# mean gives the sum of the numbers of values in col for specified head -> for every type of pokemon(Type 1) we got the mean of all columns
# since we got the mean of values we can  find the highest attack for the type or highest defense like in our example

# poke_list.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

# poke_list.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)



# COUNT
# first we group all the specified values then count the number of rows existing for that value
# now for the items that have an empty value the unknown values are added
# poke_list.groupby('Type 1').count()

# return just the count->> to do that we first store the count values as the count() return the count for every colums that have a defined value
# poke_list['count'] =1
# poke_list.groupby('Type 1').count()['count']


# group by  multiple values
poke_list.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amount of data

In [ ]:
# For large dataset we don't read whole data at ones we read it in form of chunks, chunks size specify at which event the data is called for again

# for df in pd.read_csv('pokemon_data.csv', chunksize=5):
#   print('Print row as chunk of 5')
#   print(df)


# use case

new_df = pd.DataFrame(columns = poke_list.columns)

for df in pd.read_csv('pokemon_data.csv', chunksize=5):
  res = poke_list.groupby("Type 1").count()
  new_df = pd.concat([new_df, res])

print(new_df)

# usefull in case of large data available and we are performing some operations on it and finally store the result of the oprs in the new_df this reduce the size of data by lot

            # Name Type 1 Type 2   HP Attack Defense Sp. Atk Sp. Def Speed  \
Bug        69   69    NaN     52   69     69      69      69      69    69
Dark       31   31    NaN     21   31     31      31      31      31    31
Dragon     32   32    NaN     21   32     32      32      32      32    32
Electric   44   44    NaN     17   44     44      44      44      44    44
Fairy      17   17    NaN      2   17     17      17      17      17    17
...       ...  ...    ...    ...  ...    ...     ...     ...     ...   ...
Poison     28   28    NaN     13   28     28      28      28      28    28
Psychic    57   57    NaN     19   57     57      57      57      57    57
Rock       44   44    NaN     35   44     44      44      44      44    44
Steel      27   27    NaN     22   27     27      27      27      27    27
Water     112  112    NaN     53  112    112     112     112     112   112

         Generation Legendary count
Bug              69        69    69
Dark             31        31    31
Dragon           32        32    32
Electric         44        44    44
Fairy            17        17    17
...             ...       ...   ...
Poison           28        28    28
Psychic          57        57    57
Rock             44        44    44
Steel            27        27    27
Water           112       112   112

[2880 rows x 13 columns]